################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


\obj\*
\packages\*
\bin\*
/packages
/*/bin/*
/*/obj/*
