<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="TaskClerk.Configuration" type="BritishMicro.TaskClerk.Settings.SectionHandler, TaskClerk.SDK"/>
	</configSections>
	<!--
		Configuration for TaskClerk.
	-->
	<connectionStrings>
		<add name="BritishMicro.TaskClerk.Properties.Settings.DefaultDataStore" connectionString="Data Source=intranet.messagelabs.com;Initial Catalog=TaskClerk_SYMC_094D1EE5-5470-4AD0-AE69-56C580400984;UID=jpowell;PWD=Wargame5" providerName="System.Data.SqlClient"/>
		<add name="BritishMicro.TaskClerk.Properties.Settings.IdentityProviderDataStore" connectionString="Data Source=MLABS-PJACKSON3\SQLEXPRESS;Initial Catalog=TaskClerkPrivate;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="BritishMicro.TaskClerk.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.4"/>
		<add name="BritishMicro.TaskClerk.Properties.Settings.CEConnectionString" connectionString="Data Source=|DataDirectory|\Private.sdf" providerName="Microsoft.SqlServerCe.Client.4"/>
	</connectionStrings>

	<TaskClerk.Configuration>
		<Providers>
			<Provider name="UserMemoryProvider" providerType="BritishMicro.TaskClerk.Providers.FileUserMemoryProvider, TaskClerk.Windows.Foundation"/>
			<!--Provider name="UserMemoryProvider" providerType="BritishMicro.TaskClerk.Providers.Sql.SqlUserMemoryProvider, SqlProviders">
				<ConnectionString name="BritishMicro.TaskClerk.Properties.Settings.DefaultDataStore" />
			</Provider -->
			<Provider name="IdentityProvider" providerType="BritishMicro.TaskClerk.Providers.NTIdentityProvider, TaskClerk.Windows.Foundation"/>
			<Provider name="TaskDescriptionsProvider" providerType="BritishMicro.TaskClerk.Providers.FileTaskDescriptionsProvider, TaskClerk.Windows.Foundation"/>
			<!--Provider name="TaskDescriptionsProvider" providerType="BritishMicro.TaskClerk.Providers.Sql.SqlTaskDescriptionsProvider, SqlProviders">
				<ConnectionString name="BritishMicro.TaskClerk.Properties.Settings.DefaultDataStore" />
			</Provider -->
			<Provider name="TaskActivitiesProvider" providerType="BritishMicro.TaskClerk.Providers.FileTaskActivitiesProvider, TaskClerk.Windows.Foundation"/>
			<!--Provider name="TaskActivitiesProvider" providerType="BritishMicro.TaskClerk.Providers.Sql.SqlTaskActivitiesProvider, SqlProviders">
				<ConnectionString name="BritishMicro.TaskClerk.Properties.Settings.DefaultDataStore" />
			</Provider -->
			<Provider name="PluginsProvider" providerType="BritishMicro.TaskClerk.Providers.ReflectingPluginsProvider, TaskClerk.Windows.Foundation"/>
			<Provider name="UIProvider" providerType="BritishMicro.TaskClerk.Providers.WindowsUIProvider, TaskClerk.Windows.Foundation"/>
		</Providers>

	</TaskClerk.Configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>
