<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
       name="TaskClerk.Configuration"
       type="BritishMicro.TaskClerk.Settings.SectionHandler, TaskClerk.SDK"/>
  </configSections>
  
  <!--
    Configuration for TaskClerk.
	-->

  <connectionStrings>
    <add name="BritishMicro.TaskClerk.Properties.Settings.DefaultDataStore"
      connectionString="Data Source=CREATIVITY\SQLEXPRESS;Initial Catalog=TaskClerkPrivate;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BritishMicro.TaskClerk.Properties.Settings.IdentityProviderDataStore"
      connectionString="Data Source=MLABS-PJACKSON3\SQLEXPRESS;Initial Catalog=TaskClerkPrivate;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <TaskClerk.Configuration>
    <Providers>

      <!-- SQL Server Providers -->
      <Provider
        name="UserMemoryProvider"
        providerType="BritishMicro.TaskClerk.Providers.Sql.SqlUserMemoryProvider, SqlProviders">
        <ConnectionString name="BritishMicro.TaskClerk.Properties.Settings.DefaultDataStore" />
      </Provider>
      <Provider
        name="IdentityProvider"
        providerType="BritishMicro.TaskClerk.Providers.Sql.SqlIdentityProvider, SqlProviders">
        <ConnectionString name="BritishMicro.TaskClerk.Properties.Settings.DefaultDataStore" />
      </Provider>
      <Provider
        name="TaskDescriptionsProvider"
        providerType="BritishMicro.TaskClerk.Providers.Sql.SqlTaskDescriptionsProvider, SqlProviders">
        <ConnectionString name="BritishMicro.TaskClerk.Properties.Settings.DefaultDataStore" />
      </Provider>
      <Provider
        name="TaskActivitiesProvider"
        providerType="BritishMicro.TaskClerk.Providers.Sql.SqlTaskActivitiesProvider, SqlProviders">
        <ConnectionString name="BritishMicro.TaskClerk.Properties.Settings.DefaultDataStore" />
      </Provider>

      <!-- File Based Providers -->
      <!--<Provider
        name="UserMemoryProvider"
        providerType="BritishMicro.TaskClerk.Providers.FileUserMemoryProvider, TaskClerk.Windows.Foundation" />
      <Provider
        name="IdentityProvider"
        providerType="BritishMicro.TaskClerk.Providers.NTIdentityProvider, TaskClerk.Windows.Foundation" />
      <Provider
        name="TaskDescriptionsProvider"
        providerType="BritishMicro.TaskClerk.Providers.FileTaskDescriptionsProvider, TaskClerk.Windows.Foundation" />
      <Provider
        name="TaskActivitiesProvider"
        providerType="BritishMicro.TaskClerk.Providers.FileTaskActivitiesProvider, TaskClerk.Windows.Foundation" />-->
      <Provider
        name="PluginsProvider"
        providerType="BritishMicro.TaskClerk.Providers.ReflectingPluginsProvider, TaskClerk.Windows.Foundation" />
      <Provider
        name="UIProvider"
        providerType="BritishMicro.TaskClerk.Providers.WindowsUIProvider, TaskClerk.Windows.Foundation" />
      
    </Providers>

  </TaskClerk.Configuration>
</configuration>