<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BritishMicro.TaskClerk.Update.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BritishMicro.TaskClerk.Update.Properties.Settings>
            <setting name="TaskClerk_Update_com_taskclerk_api_TaskClerk_x0020_Application_x0020_Services"
                serializeAs="String">
                <value>http://api.taskclerk.com/1/ApplicationServices.asmx</value>
            </setting>
        </BritishMicro.TaskClerk.Update.Properties.Settings>
    </applicationSettings>
</configuration>